h1 {
  color: black;
  text-align: center;
  font-family: Consolas,monaco,monospace;
}

h4 {
  color: black;
  text-align: center;
  font-family: Consolas,monaco,monospace;
  padding-left: 300px;
  padding-right: 300px;
}

caption {
  font-family: Consolas,monaco,monospace;
}

a {
  position: relative
}

a span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,.8);
}

a:hover span {
  display: block
}
